
body {
    overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}
.timer {
    border: 1px solid black;
    text-align: center;
    width: 15%;
    height: 5%;
    left: 40%;
    position: absolute;
}
.canvas {
    position: absolute;
    
}
.canvas-container {
    background-image: url('../images/full-background.png');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.dashboard-container {
    height: 200px;
    width: 1400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    
}

.score-block {
    display: flex;
    width: 20%;
    height: 100%;
	float: left;
	align-items: center;
	justify-content: center;
}

.pop-up-window {
	position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
}

.instructions-block {
    top: 30%;
    position: absolute;
    width: 50%;
    height: 70%;
    left: 25%;
}

/******************* Buttons *********************/
#btn-start-game {
	margin-top: 20px;
}

#btn-quit {
	margin-right: 20px;
}

.purple-white-btn {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
	padding:12px 32px;
	margin-top: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.purple-white-btn:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.purple-white-btn:active {
	position:relative;
	top:1px;
}

.white-purple-btn {
	border: 1px solid #c584f3;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    color: #9752cc;
    font-size: 16px;
    padding: 13px 32px;
    text-decoration: none;
}

#btn-move-right {
    display: inline-block;
    width: 40%;
    height: 100%;
	float: left;
}

#btn-move-left {
    display: inline-block;
    width: 40%;
    height: 100%;
	float: left;
}

/******************* Start window *********************/
#start-screen-window {
	display: block;
}

/******************* End window *********************/
#end-screen-window {
	display: none;
}


